<% include ../header %>
<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-4 border-class">
            <br><br>
                <h4>HTML Forms to Add Employee</h4>
                <form action="/insert_employees" method="POST">
                    <div class="form-group">
                        <label >Employee Id:</label>
                        <input type="text" class="form-control" name="employee_id" placeholder="ID">
                    </div>
                    <div class="form-group">
                            <label >Employee Code:</label>
                            <input type="text" class="form-control" name="employee_code" placeholder="Emp Code">
                    </div>
                    <div class="form-group">
                            <label >Employee Name:</label>
                            <input type="text" class="form-control" name="employee_name" placeholder="Emp Name">
                        </div>
                    <div class="form-group">
                            <label >Employee Designation:</label>
                            <input type="text" class="form-control" name="employee_designation" placeholder="Designation">
                    </div>

                    <button type="submit" class="btn btn-primary">Save</button>
                </form>
        </div>
    </div>
</div>
    

<% include ../footer %>
